Checks: >
  -*,
  readability-implicit-bool-conversion,
  google-readability-braces-around-statements,
  readability-braces-around-statements,
  modernize-use-nullptr,
  modernize-use-auto,
  bugprone-implicit-widening-of-multiplication-result,
  readability-isolate-declaration,
  modernize-deprecated-headers,
  bugprone-incorrect-roundings,
  readability-container-size-empty,
  readability-make-member-function-const,
  readability-convert-member-functions-to-static,
  readability-non-const-parameter,
  google-explicit-constructor,
  misc-throw-by-value-catch-by-reference,
  bugprone-suspicious-string-compare,
  google-readability-todo,
  modernize-use-bool-literals,
  performance-noexcept-move-constructor,
  readability-avoid-const-params-in-decls,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-inconsistent-declaration-parameter-name
  bugprone-macro-parentheses,
  google-runtime-int,
  misc-redundant-expression,
  modernize-loop-convert,
  modernize-use-using,
  readability-qualified-auto,
  readability-suspicious-call-argument


HeaderFilterRegex: ".*multiblend.*src.*"
