BasedOnStyle: Google

SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex:           '<(jpeglib|tiffio|png.h).*>'
    Priority:        2
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
